@import url("https://fonts.cdnfonts.com/css/chunq");
@import url("https://fonts.cdnfonts.com/css/kenyan-coffee-2");

@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: Kungfu;
  src: url(./assets/KungFuPandaRegular-xYjV.ttf);
}

@layer {
  .title {
    -webkit-text-stroke: 1px #000;
    text-shadow: 7px 5px 5px #e70104;
  }
  .shad {
    text-shadow: 7px 5px 5px #000000;
  }
  .shad2 {
    text-shadow: 7px 5px 5px #e70104;
  }
  img {
    @apply mx-auto;
  }
}
